@model PolovniAutomobiliMVC.ViewModels.CarListViewModel

<div class="row">
    <h1>@Model.CurrentCategory</h1>
    @foreach(var car in Model.Cars)
    {
        <partial name="_CarCard" model="car"/>
    }
</div>